@font-face {
  font-family: 'Socicon';
  src:  url('../font/Socicon.eot?jxsw4b');
  src:  url('../font/Socicon.eot?jxsw4b#iefix') format('embedded-opentype'),
    url('../font/Socicon.woff2?jxsw4b') format('woff2'),
    url('../font/Socicon.ttf?jxsw4b') format('truetype'),
    url('../font/Socicon.woff?jxsw4b') format('woff'),
    url('../font/Socicon.svg?jxsw4b#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="socicon-"], [class*=" socicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socicon-tidal:before {
  content: "\e910";
}
.socicon-googlecalendar:before {
  content: "\e926";
}
.socicon-shopify:before {
  content: "\e927";
}
.socicon-googlemaps:before {
  content: "\e937";
}
.socicon-amazon:before {
  content: "\e004";
}
.socicon-bandcamp:before {
  content: "\e00b";
}
.socicon-deezer:before {
  content: "\e018";
}
.socicon-facebook:before {
  content: "\e028";
}
.socicon-itunes:before {
  content: "\e047";
}
.socicon-persona:before {
  content: "\e062";
}
.socicon-play:before {
  content: "\e064";
}
.socicon-paypal:before {
  content: "\e060";
}
.socicon-patreon:before {
  content: "\e05f";
}
.socicon-soundcloud:before {
  content: "\e078";
}
.socicon-twitter:before {
  content: "\e08d";
}
.socicon-whatsapp:before {
  content: "\e099";
}
.socicon-spotify:before {
  content: "\e079";
}
.socicon-instagram:before {
  content: "\e044";
}
.socicon-youtube:before {
  content: "\e0a5";
}
.socicon-twitch:before {
  content: "\e08c";
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?46579446');
  src: url('../font/fontello.eot?46579446#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?46579446') format('woff2'),
       url('../font/fontello.woff?46579446') format('woff'),
       url('../font/fontello.ttf?46579446') format('truetype'),
       url('../font/fontello.svg?46579446#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter-4:before { content: '\ee73'; } /* 'î¹³' */
.icon-vimeo-1:before { content: '\ee75'; } /* 'î¹µ' */
.icon-amazon:before { content: '\ee7e'; } /* 'î¹¾' */
.icon-music:before { content: '\e801'; } /* 'î ' */
.icon-mail:before { content: '\e803'; } /* 'î ƒ' */
.icon-mail-alt:before { content: '\e804'; } /* 'î „' */
.icon-mail-squared:before { content: '\e805'; } /* 'î …' */
.icon-search:before { content: '\e802'; } /* 'î ‚' */
.icon-youtube:before { content: '\ea01'; } /* 'î¨' */
.icon-youtube-squared:before { content: '\ea03'; } /* 'î¨ƒ' */
.icon-youtube-play:before { content: '\ea04'; } /* 'î¨„' */
.icon-youtube-1:before { content: '\ed3c'; } /* 'î´¼' */
.icon-youtube-2:before { content: '\ee74'; } /* 'î¹´' */
.icon-youtube-3:before { content: '\efe6'; } /* 'î¿¦' */
.icon-youtube-4:before { content: '\f06a'; } /* 'ïª' */
.icon-soundcloud:before { content: '\e9e7'; } /* 'î§§' */
.icon-spotify:before { content: '\e9e8'; } /* 'î§¨' */
.icon-paypal:before { content: '\e9d6'; } /* 'î§–' */
.icon-facebook:before { content: '\e9b6'; } /* 'î¦¶' */
.icon-facebook-squared:before { content: '\e9b7'; } /* 'î¦·' */
.icon-facebook-official:before { content: '\e9b8'; } /* 'î¦¸' */
.icon-instagram:before { content: '\e9c8'; } /* 'î§ˆ' */
.icon-twitch:before { content: '\e9f3'; } /* 'î§³' */
.icon-twitter-squared:before { content: '\e9f4'; } /* 'î§´' */
.icon-twitter:before { content: '\e9f5'; } /* 'î§µ' */
.icon-vimeo-squared:before { content: '\e9f6'; } /* 'î§¶' */
.icon-whatsapp:before { content: '\e9f9'; } /* 'î§¹' */
.icon-cancel:before { content: '\e820'; } /* 'î  ' */
.icon-cancel-circled:before { content: '\e821'; } /* 'î ¡' */
.icon-cancel-circled2:before { content: '\e822'; } /* 'î ¢' */
.icon-ok-squared:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-help:before { content: '\e82b'; } /* 'î «' */
.icon-help-circled:before { content: '\e82c'; } /* 'î ¬' */
.icon-info-circled:before { content: '\e82d'; } /* 'î ­' */
.icon-info:before { content: '\e82e'; } /* 'î ®' */
.icon-home:before { content: '\e82f'; } /* 'î ¯' */
.icon-link:before { content: '\e830'; } /* 'î °' */
.icon-unlink:before { content: '\e831'; } /* 'î ±' */
.icon-link-ext:before { content: '\e832'; } /* 'î ²' */
.icon-link-ext-alt:before { content: '\e833'; } /* 'î ³' */
.icon-mic:before { content: '\e88f'; } /* 'î¢' */
.icon-mute:before { content: '\e890'; } /* 'î¢' */
.icon-volume-off:before { content: '\e891'; } /* 'î¢‘' */
.icon-volume-down:before { content: '\e892'; } /* 'î¢’' */
.icon-volume-up:before { content: '\e893'; } /* 'î¢“' */
.icon-headphones:before { content: '\e894'; } /* 'î¢”' */
.icon-calendar:before { content: '\e88b'; } /* 'î¢‹' */
.icon-calendar-empty:before { content: '\e88c'; } /* 'î¢Œ' */
.icon-menu:before { content: '\e883'; } /* 'î¢ƒ' */
.icon-basket:before { content: '\e888'; } /* 'î¢ˆ' */
.icon-cart-plus:before { content: '\e889'; } /* 'î¢‰' */
.icon-cart-arrow-down:before { content: '\e88a'; } /* 'î¢Š' */
.icon-resize-full:before { content: '\e898'; } /* 'î¢˜' */
.icon-resize-full-alt:before { content: '\e899'; } /* 'î¢™' */
.icon-resize-small:before { content: '\e89a'; } /* 'î¢š' */
.icon-resize-vertical:before { content: '\e89b'; } /* 'î¢›' */
.icon-resize-horizontal:before { content: '\e89c'; } /* 'î¢œ' */
.icon-move:before { content: '\e89d'; } /* 'î¢' */
.icon-zoom-in:before { content: '\e89e'; } /* 'î¢ž' */
.icon-zoom-out:before { content: '\e89f'; } /* 'î¢Ÿ' */
.icon-down-circled2:before { content: '\e8a0'; } /* 'î¢ ' */
.icon-up-circled2:before { content: '\e8a1'; } /* 'î¢¡' */
.icon-left-circled2:before { content: '\e8a2'; } /* 'î¢¢' */
.icon-right-circled2:before { content: '\e8a3'; } /* 'î¢£' */
.icon-down-dir:before { content: '\e8a4'; } /* 'î¢¤' */
.icon-up-dir:before { content: '\e8a5'; } /* 'î¢¥' */
.icon-left-dir:before { content: '\e8a6'; } /* 'î¢¦' */
.icon-right-dir:before { content: '\e8a7'; } /* 'î¢§' */
.icon-down-open:before { content: '\e8a8'; } /* 'î¢¨' */
.icon-left-open:before { content: '\e8a9'; } /* 'î¢©' */
.icon-right-open:before { content: '\e8aa'; } /* 'î¢ª' */
.icon-up-open:before { content: '\e8ab'; } /* 'î¢«' */
.icon-angle-left:before { content: '\e8ac'; } /* 'î¢¬' */
.icon-angle-right:before { content: '\e8ad'; } /* 'î¢­' */
.icon-angle-up:before { content: '\e8ae'; } /* 'î¢®' */
.icon-angle-down:before { content: '\e8af'; } /* 'î¢¯' */
.icon-down:before { content: '\e8b8'; } /* 'î¢¸' */
.icon-left:before { content: '\e8b9'; } /* 'î¢¹' */
.icon-right:before { content: '\e8ba'; } /* 'î¢º' */
.icon-up:before { content: '\e8bb'; } /* 'î¢»' */
.icon-down-big:before { content: '\e8bc'; } /* 'î¢¼' */
.icon-left-big:before { content: '\e8bd'; } /* 'î¢½' */
.icon-right-big:before { content: '\e8be'; } /* 'î¢¾' */
.icon-up-big:before { content: '\e8bf'; } /* 'î¢¿' */
.icon-right-hand:before { content: '\e8c0'; } /* 'î£€' */
.icon-left-hand:before { content: '\e8c1'; } /* 'î£' */
.icon-up-hand:before { content: '\e8c2'; } /* 'î£‚' */
.icon-down-hand:before { content: '\e8c3'; } /* 'î£ƒ' */
.icon-left-circled:before { content: '\e8c4'; } /* 'î£„' */
.icon-right-circled:before { content: '\e8c5'; } /* 'î£…' */
.icon-up-circled:before { content: '\e8c6'; } /* 'î£†' */
.icon-down-circled:before { content: '\e8c7'; } /* 'î£‡' */
.icon-play:before { content: '\e8d4'; } /* 'î£”' */
.icon-play-circled:before { content: '\e8d5'; } /* 'î£•' */
.icon-play-circled2:before { content: '\e8d6'; } /* 'î£–' */
.icon-stop:before { content: '\e8d7'; } /* 'î£—' */
.icon-pause:before { content: '\e8d8'; } /* 'î£˜' */
.icon-to-end:before { content: '\e8d9'; } /* 'î£™' */
.icon-to-end-alt:before { content: '\e8da'; } /* 'î£š' */
.icon-to-start:before { content: '\e8db'; } /* 'î£›' */
.icon-to-start-alt:before { content: '\e8dc'; } /* 'î£œ' */
.icon-fast-fw:before { content: '\e8dd'; } /* 'î£' */
.icon-fast-bw:before { content: '\e8de'; } /* 'î£ž' */
.icon-facebook-5:before { content: '\ee83'; } /* 'îºƒ' */
.icon-instagram-3:before { content: '\ee9d'; } /* 'îº' */
.icon-gmail:before { content: '\ee8b'; } /* 'îº‹' */
.icon-googleplay:before { content: '\ee86'; } /* 'îº†' */
.icon-itunes:before { content: '\ee87'; } /* 'îº‡' */
.icon-soundcloud-3:before { content: '\ee8f'; } /* 'îº' */
.icon-facebook-6:before { content: '\eeab'; } /* 'îº«' */
.icon-facebook-rect-1:before { content: '\eeac'; } /* 'îº¬' */
.icon-twitter-5:before { content: '\eead'; } /* 'îº­' */
.icon-twitter-bird-1:before { content: '\eeae'; } /* 'îº®' */
.icon-vimeo-2:before { content: '\eeaf'; } /* 'îº¯' */
.icon-vimeo-rect:before { content: '\eeb0'; } /* 'îº°' */
.icon-instagram-4:before { content: '\eec9'; } /* 'î»‰' */
.icon-instagram-filled:before { content: '\eeca'; } /* 'î»Š' */
.icon-bandcamp:before { content: '\eed6'; } /* 'î»–' */
.icon-music-3:before { content: '\eed9'; } /* 'î»™' */
.icon-search-6:before { content: '\eeda'; } /* 'î»š' */
.icon-search-circled:before { content: '\eedb'; } /* 'î»›' */
.icon-mail-6:before { content: '\eedc'; } /* 'î»œ' */
.icon-mail-circled:before { content: '\eedd'; } /* 'î»' */
.icon-video-4:before { content: '\eee8'; } /* 'î»¨' */
.icon-video-circled:before { content: '\eee9'; } /* 'î»©' */
.icon-video-alt-1:before { content: '\eeea'; } /* 'î»ª' */
.icon-facebook-7:before { content: '\efce'; } /* 'î¿Ž' */
.icon-instagram-5:before { content: '\efd6'; } /* 'î¿–' */
.icon-twitter-6:before { content: '\efe0'; } /* 'î¿ ' */
.icon-vimeo-3:before { content: '\efe2'; } /* 'î¿¢' */
.icon-vimeo:before { content: '\eaf6'; } /* 'î«¶' */
.icon-vimeo-circled:before { content: '\eaf7'; } /* 'î«·' */
.icon-twitter-1:before { content: '\eaf8'; } /* 'î«¸' */
.icon-twitter-circled:before { content: '\eaf9'; } /* 'î«¹' */
.icon-facebook-1:before { content: '\eafa'; } /* 'î«º' */
.icon-facebook-circled:before { content: '\eafb'; } /* 'î«»' */
.icon-facebook-squared-1:before { content: '\eafc'; } /* 'î«¼' */
.icon-spotify-1:before { content: '\eb0d'; } /* 'î¬' */
.icon-spotify-circled:before { content: '\eb0e'; } /* 'î¬Ž' */
.icon-instagram-1:before { content: '\eb10'; } /* 'î¬' */
.icon-paypal-1:before { content: '\eb18'; } /* 'î¬˜' */
.icon-music-outline:before { content: '\eb1f'; } /* 'î¬Ÿ' */
.icon-music-2:before { content: '\eb20'; } /* 'î¬ ' */
.icon-play-outline:before { content: '\ebd2'; } /* 'î¯’' */
.icon-play-2:before { content: '\ebd3'; } /* 'î¯“' */
.icon-stop-outline:before { content: '\ebd4'; } /* 'î¯”' */
.icon-stop-2:before { content: '\ebd5'; } /* 'î¯•' */
.icon-pause-outline:before { content: '\ebd6'; } /* 'î¯–' */
.icon-pause-2:before { content: '\ebd7'; } /* 'î¯—' */
.icon-fast-fw-outline:before { content: '\ebd8'; } /* 'î¯˜' */
.icon-fast-fw-1:before { content: '\ebd9'; } /* 'î¯™' */
.icon-rewind-outline:before { content: '\ebda'; } /* 'î¯š' */
.icon-rewind:before { content: '\ebdb'; } /* 'î¯›' */
.icon-record-outline:before { content: '\ebdc'; } /* 'î¯œ' */
.icon-record-1:before { content: '\ebdd'; } /* 'î¯' */
.icon-eject-outline:before { content: '\ebde'; } /* 'î¯ž' */
.icon-eject-1:before { content: '\ebdf'; } /* 'î¯Ÿ' */
.icon-eject-alt-outline:before { content: '\ebe0'; } /* 'î¯ ' */
.icon-eject-alt:before { content: '\ebe1'; } /* 'î¯¡' */
.icon-facebook-circled-1:before { content: '\ec3f'; } /* 'î°¿' */
.icon-facebook-2:before { content: '\ec40'; } /* 'î±€' */
.icon-play-3:before { content: '\ecb2'; } /* 'î²²' */
.icon-play-circle2:before { content: '\ecb3'; } /* 'î²³' */
.icon-stop-3:before { content: '\ecb4'; } /* 'î²´' */
.icon-pause-3:before { content: '\ecb5'; } /* 'î²µ' */
.icon-to-start-2:before { content: '\ecb6'; } /* 'î²¶' */
.icon-to-end-2:before { content: '\ecb7'; } /* 'î²·' */
.icon-eject-2:before { content: '\ecb8'; } /* 'î²¸' */
.icon-facebook-3:before { content: '\ed37'; } /* 'î´·' */
.icon-facebook-rect:before { content: '\ed38'; } /* 'î´¸' */
.icon-twitter-2:before { content: '\ed39'; } /* 'î´¹' */
.icon-twitter-bird:before { content: '\ed3a'; } /* 'î´º' */
.icon-twitter-rect:before { content: '\ed3b'; } /* 'î´»' */
.icon-spinner1:before { content: '\edef'; } /* 'î·¯' */
.icon-spinner2:before { content: '\edf0'; } /* 'î·°' */
.icon-twitter-3:before { content: '\edf5'; } /* 'î·µ' */
.icon-twitter-circled-1:before { content: '\edf6'; } /* 'î·¶' */
.icon-facebook-4:before { content: '\edf7'; } /* 'î··' */
.icon-facebook-circled-2:before { content: '\edf8'; } /* 'î·¸' */
.icon-instagram-2:before { content: '\edff'; } /* 'î·¿' */
.icon-instagram-circled:before { content: '\ee00'; } /* 'î¸€' */
.icon-soundcloud-2:before { content: '\ee01'; } /* 'î¸' */
.icon-soundcloud-circled:before { content: '\ee02'; } /* 'î¸‚' */
.icon-paypal-2:before { content: '\ee47'; } /* 'î¹‡' */
.icon-music-4:before { content: '\efe7'; } /* 'î¿§' */
.icon-search-7:before { content: '\efe8'; } /* 'î¿¨' */
.icon-mail-7:before { content: '\efe9'; } /* 'î¿©' */
.icon-shop-1:before { content: '\f013'; } /* 'ï€“' */
.icon-search-8:before { content: '\f017'; } /* 'ï€—' */
.icon-facebook-rect-2:before { content: '\f062'; } /* 'ï¢' */
.icon-twitter-bird-2:before { content: '\f063'; } /* 'ï£' */
.icon-vimeo-rect-1:before { content: '\f064'; } /* 'ï¤' */
